@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 
@layer components {
  .navegacao{
    @apply flex flex-wrap bg-gray-100 justify-between md:items-center;
 
    & img{
      @apply flex max-sm:w-32;
    }
 
    & ul{
      @apply list-none flex items-center justify-end gap-8;
    }
 
    & a{
      @apply no-underline;
    }
  }
 
  .navButton{
    @apply border-2 border-solid border-orange-600 rounded-xl
     text-orange-600 p-2 cursor-pointer transition ease-in-out
     hover:bg-blue-500 hover:text-white hover:border-blue-500 duration-300
     md:p-1 md:text-sm;
  }
 
  .contentMobile{
    @apply hidden max-sm:flex;
  }
 
  .footerList{
    @apply flex flex-col mr-10 gap-2 sm:gap-3 list-none;
 
    & a{
      @apply no-underline text-gray-500 transition ease-in-out
       hover:text-orange-600 text-sm sm:text-base;
    }
  }
 
  .styleButton{
    @apply inline-block p-2 m-4 text-black text-xs sm:text-base sm:p-1 md:text-2xl font-light md:font-semibold
    no-underline text-center border-solid border-2 border-gray-950 rounded-xl transition ease-in-out hover:bg-black
    hover:text-orange-600 duration-200;
  }
 
  .item{
    @apply p-1 text-white text-xs font-semibold text-center border-solid border-2 border-gray-100 rounded-xl
    sm:p-3 sm:text-base md:text-xl md:p-4;
  }
 
  .contentWrap{
    @apply p-1 md:p-8 max-h-screen bg-gradient-to-t from-orange-500  to-white;
  }
 
  .cards{
    @apply flex items-center justify-center bg-cardColor flex-col border-solid border-2 border-gray-500 rounded-md
    p-5 text-center;
 
    & img{
      @apply w-12 h-12 sm:w-20 sm:h-20 md:w-40 md:h-40 aspect-auto object-cover rounded-full;
    }
 
    & h4, h5{
      @apply text-xsm mt-3 sm:mt-2 md:text-base text-white;
    }
 
    & a{
      @apply inline-block text-xsm p-1 sm:mt-2 sm:font-normal md:text-xs md:mt-4 md:p-2
      border-solid border-2 border-gray-400 rounded-xl cursor-pointer md:font-semibold text-gray-400
      no-underline transition ease-in-out hover:bg-black hover:text-white hover:border-black
      duration-200;
    }
  }
 
  .btnRepository{
    @apply block text-gray-400 no-underline font-bold text-center
    text-lg sm:text-2xl md:text-3xl transition ease-in-out hover:text-blue-500
    hover:underline duration-200 mt-48 lg:mt-44;
  }
 
  .aboutContainer{
    @apply p-4 sm:p-12 md:p-8 bg-gradient-to-t from-orange-500  to-white
    mb-16 relative;
 
    & h1{
      @apply text-center text-xs sm:text-base font-bold mb-4;
    }
 
    & h3{
      @apply font-semibold text-sm mb-1 sm:mb-3 text-center;
    }
 
    & p{
      @apply mb-8 text-xs sm:text-base text-center;
    }
 
  }
 
  .containerCard {
    @apply items-center mt-8 p-8 gap-16 bg-slate-300
    border-solid border-2 border-gray-700 rounded sm:flex;
 
    & p{
      @apply text-xs mb-2 text-center sm:mb-4;
    }
 
    & h3{
      @apply text-center font-semibold mb-4;
    }
  }
 
  .linkPorto{
    @apply pt-4 text-center sm:pt-8;
 
    & a{
      @apply no-underline text-sm p-[0.4rem] sm:p-[0.6]
      text-orange-600 border-solid border-2 border-orange-600 rounded
      cursor-pointer transition-all ease-in-out hover:border-blue-600
      hover:text-white hover:bg-blue-600 duration-200;
    }
  }
 
  .inputForm{
    @apply text-base p-[0.6] sm:text-2xl sm:p-3 w-full border-solid rounded border-2 border-gray-400;
  }
 
  .btn{
    @apply text-orange-600 border-solid rounded border-2 border-orange-600 bg-white
    font-medium sm:font-semibold p-[0.4rem] inline-block cursor-pointer hover:text-white
    hover:border-blue-600 hover:bg-blue-600 transition-all ease-in-out duration-200;
  }
 
  .logarCom{
    @apply flex p-[0.4rem] gap-[0.2rem] text-[0.6rem] sm:p-[0.8] sm:gap-4 sm:text-xl text-black
    border-solid rounded border-gray-400 border-2 font-normal no-underline hover:bg-gray-400
    transition ease-in-out duration-200;
 
    & img{
      @apply w-4 h-4 sm:w-6 sm:h-6;
    }
  }
 
  .mensagemBot{
    @apply p-[0.8rem] sm:p-4 w-[90%] sm:w-full bg-gray-300 rounded flex items-center gap-4;
 
    & img{
      @apply w-12 sm:w-16;
    }
 
    & p{
      @apply text-xs sm:text-base;
    }
  }
}
 
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
 
.animate-blink {
  animation: blink 1s infinite;
}